Repository bibin-paul-trustme/eve1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @milan-zededa, @christoph-zededa, @rouming, @shjala, @rene, @naiming-zededa, @mikem-zed, @zedi-pramodh, @jsfakian, @OhmSpectator, @uncleDecart

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
Owners: @eriknordmark

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

Document how to capture control-plane traffic on Qualcomm-based modems
  pkg/wwan/README.md
Owners: @milan-zededa

Add mismatching PCR indexes to VaultStatus
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/vaultmgrtypes.go
  pkg/pillar/vault/handler_ext4.go
  pkg/pillar/vault/handler_zfs.go
Owners: @mikem-zed, @shjala, @eriknordmark

Add monitor agent to pillar
  pkg/pillar/cmd/monitor/ipc_server.go
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/monitor.go
  pkg/pillar/cmd/monitor/subsriptions.go
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/zedbox/zedbox.go
Owners: @eriknordmark, @milan-zededa

Vendor required modules for monitor agent
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/getlantern/framed/.travis.yml
  pkg/pillar/vendor/github.com/getlantern/framed/LICENSE
  pkg/pillar/vendor/github.com/getlantern/framed/README.md
  pkg/pillar/vendor/github.com/getlantern/framed/framed.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/LICENSE
  pkg/pillar/vendor/github.com/oxtoacart/bpool/README.md
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bufferpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bytepool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/byteslice.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/sizedbufferpool.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Print messages on /dev/tty instead of /dev/console
  pkg/pillar/agentlog/agentlog.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/scripts/onboot.sh
Owners: @eriknordmark

Add monitor container
  images/rootfs.yml.in
  pkg/monitor/Dockerfile
  pkg/monitor/build.yml
  pkg/monitor/monitor-wrapper.sh
  pkg/monitor/run-monitor.sh
  tools/parse-pkgs.sh
Owners: @eriknordmark, @deitch, @jsfakian

Add support for 'manual' DPC to NIM
  pkg/pillar/dpcmanager/dpc.go
  pkg/pillar/dpcmanager/dpcmanager.go
Owners: @milan-zededa

Add run-live-gui target to run monitor container
  Makefile
Owners: @eriknordmark

Handle SetServer request
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

correct log level setting in doc
  docs/CONFIG-PROPERTIES.md
Owners: @eriknordmark

add support for remote log level to newlogd
  pkg/newlog/cmd/newlogd.go
  pkg/pillar/agentlog/loglevel.go
  pkg/pillar/cmd/loguploader/loguploader.go
  pkg/pillar/types/newlogtypes.go
Owners: @deitch, @naiming-zededa, @eriknordmark

new metrics for newlogd
  pkg/newlog/cmd/newlogd.go
  pkg/pillar/types/newlogtypes.go
Owners: @deitch, @naiming-zededa, @eriknordmark

update LOGGING.md with chapter on log levels
  docs/LOGGING.md
Owners: @eriknordmark

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @mikem-zed, @rene, @shjala

secure-logs : add implementation of FssAgg
  pkg/newlog/cmd/fssagg.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/seclog_perf_test.go
  pkg/newlog/cmd/seclog_test.go
  pkg/newlog/testdata/dev.log.sample
  pkg/newlog/testdata/perf/README.md
  pkg/newlog/testdata/perf/fssaggsig_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggsig_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggsig_timing_results.csv
  pkg/newlog/testdata/perf/fssaggver_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_timing_results.csv
  pkg/newlog/testdata/perf/fssaggver_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggver_timing_results.csv
  pkg/newlog/testdata/perf/plot.py
Owners: @deitch, @naiming-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/api/                         @deitch
/build-tools/                 @deitch
/libs/depgraph/               @milan-zededa
/libs/nettrace/               @milan-zededa
/libs/reconciler/             @milan-zededa
/libs/zedUpload/              @christoph-zededa @deitch @rouming
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @mikem-zed @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @mikem-zed @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @mikem-zed
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/mkverification-raw-efi/  @jsfakian
/pkg/new-kernel/              @mikem-zed @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @mikem-zed @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @mikem-zed @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @mikem-zed @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @mikem-zed @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/uplinkprober/     @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @mikem-zed
/pkg/verification/            @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @mikem-zed @rene @shjala
/pkg/xen/                     @OhmSpectator @mikem-zed @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
